<script type="text/javascript">
    var currentUsername = "<%= @current_user %>";
    var chatMode = "<%= @chat_mode %>";
</script>
<div class= "header"><h1>Dude Chat</h1><img src="assets/logo.ico" alt="logo"></div>
<div id="wrapper">
    <div id="chat-text" ></div>
    <div id="users-list"></div>
    <div id="chat-form">
        <form id="input-form" class="form-inline">
            <input type="text" id="input-text" class="form-conrol" placeholder="Enter chat text here!" autofocus/>
            <button class="btn btn-primary" type="submit">Send</button>
        </form>
    </div>
</div>
