// Place all the styles related to the Login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#login-wrapper{margin:60px}
#login-wrapper form {font-size:16px;float: left;display: block;margin:0;border: 2px solid #F1F2F4;background-color: #F1F2F4;padding: 40px;clear: both;}
#login-wrapper input[type="submit" i]{width:100px;background-color: whitesmoke;border-color: ghostwhite;height: 33px;}
#login-wrapper #login_username{border-radius: 5px;height: 30px;font-size: 14px;padding: 0 7px;width: 225px;float: left;margin-right: 10px;}
#login-wrapper #login_mode{float: left;font-size: 14px;height: 33px;margin-right: 10px; Line-Height:33px;-webkit-appearance: menulist-button;}
